:root {
  --bg-color: #030303;
  --text-main: #ffffff;
  --text-sub: #aaaaaa;
  --controller-bg: #212121;
  --controller-height: 72px;
  --progress-color: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border: none;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  overflow-x: hidden;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
  padding: 20px;
  /* Fixme: Controller가 보일 때만 바뀌도록 수정 */
  padding-bottom: calc(var(--controller-height) + 20px);
  overflow-y: auto;
}

.music__list {
  list-style: none;
}

.music {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  width: 100%;
  height: 72px;
}

.music:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.music__number {
  color: var(--text-sub);
  width: 40px;
  text-align: center;
}

.thumbnail {
  width: 48px;
  height: 48px;
  background-color: #333;
  margin-right: 16px;
  border-radius: 4px;
}

.thumbnail__image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: inherit;
}

.music__info {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding-right: 160px;
}

.music__title {
  font-size: 16px;
}

.music__artist {
  font-size: 14px;
  color: var(--text-sub);
}

.playlist {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 100%;
  /* display: none; */
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.playlist__detail {
  display: flex;
  flex: 1;
  background-color: var(--bg-color);
  overflow: hidden;
}

.controller {
  display: flex;
  padding-block: 10px;
  padding-inline: 12px;
  background-color: var(--controller-bg);
  height: 72px;
  width: 100%;
  justify-content: space-between;
}

.controller__control {
  display: flex;
  gap: 8px;
  align-items: center;
}

.controller__button {
  height: 24px;
  font-size: 24px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.controller__next {
  height: 100%;
  aspect-ratio: 1/ 1;
}

.controller__info {
  display: flex;
  align-items: center;
}

.controller__music-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.controller__music-title {
  font-size: 16px;
  color: #ffffff;
}

.controller__artist {
  font-size: 14px;
  color: #ffffffb3;
}

.controller__options {
  display: flex;
  align-items: center;
  gap: 8px;
}

.controller__volume {
  display: flex;
  align-items: center;
  gap: 8px;
}

.controller__volume-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;

  width: 80px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  cursor: pointer;
  margin: 0;
}
/* 웹킷 기반 브라우저 (Chrome, Safari) Thumb 스타일 */
.controller__volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* Firefox Thumb 스타일 */
.controller__volume-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* IE/Edge Thumb 스타일 */
.controller__volume-slider::-ms-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.playlist__list {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 40px 120px;
}

.playlist__current {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
}

.playlist__current-thumbnail {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background-color: #333;
}

.playlist__current-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.playlist__current-title {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.playlist__current-artist {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
