:root {
  --bg-color: #030303;
  --text-main: #ffffff;
  --text-sub: #aaaaaa;
  --controller-bg: #212121;
  --controller-height: 72px;
  --progress-color: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border: none;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  overflow-x: hidden;
  overflow: hidden;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.root {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
}

.main {
  position: relative;
  flex: 1;
  padding: 20px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  min-height: 0;
}

.music-list {
  flex: 1;
  overflow-y: auto;
  list-style: none;
  padding-bottom: calc(var(--controller-height) + 20px);
}

.music-list[data-type="player"] {
  flex: 6;
  padding: 40px 20px;
}

.music {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  width: 100%;
  height: 72px;
}

.music:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.music__number {
  color: var(--text-sub);
  width: 40px;
  text-align: center;
}

.thumbnail {
  width: 48px;
  height: 48px;
  background-color: #333;
  margin-right: 16px;
  border-radius: 4px;
}

.thumbnail[data-type="player"] {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  margin: 0px;
}

.thumbnail__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.music__info {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.music__title {
  font-size: 16px;
}

.music__artist {
  font-size: 14px;
  color: var(--text-sub);
}

.playlist {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #030303;
  margin-bottom: var(--controller-height);
  height: calc(100% - var(--controller-height));
  width: 100%;
  flex: 1;
}

.invisible {
  display: none;
}

.controller {
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--controller-bg);
  height: 72px;
  width: 100%;
  z-index: 1000;
}

.controller__time-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  cursor: pointer;
  margin: 0;
  width: 100%;
  box-sizing: content-box;
}

.controller__time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

/* Firefox Thumb 스타일 */

.controller__time-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

/* IE/Edge Thumb 스타일 */

.controller__time-slider::-ms-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

.controller__control {
  display: flex;
  padding-block: 10px;
  padding-inline: 12px;
  flex: 1;
  width: 100%;
  justify-content: space-between;
}

.controller__play {
  display: flex;
  gap: 8px;
  align-items: center;
}

.controller__button {
  height: 24px;
  font-size: 24px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.controller__next {
  height: 100%;
  aspect-ratio: 1/ 1;
}

.controller__info {
  display: flex;
  align-items: center;
}

.controller__music-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.controller__music-title {
  font-size: 16px;
  color: #ffffff;
}

.controller__artist {
  font-size: 14px;
  color: #ffffffb3;
}

.controller__options {
  display: flex;
  align-items: center;
  gap: 8px;
}

.controller__volume {
  display: flex;
  align-items: center;
  gap: 8px;
}

.controller__volume-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  width: 80px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  cursor: pointer;
  margin: 0;
}

/* 웹킷 기반 브라우저 (Chrome, Safari) Thumb 스타일 */

.controller__volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* Firefox Thumb 스타일 */

.controller__volume-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* IE/Edge Thumb 스타일 */

.controller__volume-slider::-ms-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.playlist__list {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 40px 120px;
}

.playlist__current {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
  flex: 4;
}

.playlist__current-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.playlist__current-title {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.playlist__current-artist {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
